.scope {
    width: 350px;
    height: 450px;
    border: 1px solid;
    margin: 12px;
}

.title {
    width: 100%;
    height: 40px;
    background-color: rgb(197, 202, 202);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-row {
    padding: 8px;
    display: flex;
}

.tag-row label {
    width: 120px;
    text-align: right;
}
.tag-row input {
    flex: 1;
}

.button-row {
    justify-content: center;
}

.button-row button {
    margin-right: 10px;
}
