<div class="grid-layout">
    <div class="panel">
        <div class="title">标签激活</div>
        <div>
            <textarea style="height: 250px; width: 100%" placeholder="输入标签Id，多个用逗号隔开" [(ngModel)]="devs"></textarea>
        </div>
        <div style="text-align: center">
            <input type="radio" [(ngModel)]="status" value="1" id="status_1" />
            <span for="status_1">激活</span>
            <input type="radio" [(ngModel)]="status" value="0" id="status_0" />
            <span for="status_0">下线</span>
        </div>
        <button (click)="batchActivateDevs()" style="width: 80%">确定</button>
    </div>
    <div class="panel">
        <div class="title">状态查询</div>
        <div>
            <input type="text" name="dev" [(ngModel)]="devId" />
            <button (click)="getBindStatus()" style="height: 30px; width: 50px; padding: 0">查询</button>

            <div *ngIf="bindStatus.dev != null" class="tag-status">
                <div style="display: flex">
                    <label for="">绑定标签Id:</label>
                    <div>{{ bindStatus.bindId }}</div>
                </div>
                <div style="display: flex">
                    <label for="">绑定标签名称:</label>
                    <div>{{ bindStatus.bindName }}</div>
                </div>
                <div style="display: flex">
                    <label for="">id:</label>
                    <div>{{ bindStatus.id }}</div>
                </div>
                <div style="display: flex">
                    <label for="">标签Id:</label>
                    <div>{{ bindStatus.dev }}</div>
                </div>
                <div style="display: flex">
                    <label for="">可进入区域Id:</label>
                    <div>{{ bindStatus.acceptedRegion }}</div>
                </div>
                <div style="display: flex">
                    <label for="">禁入区域Id:</label>
                    <div>{{ bindStatus.forbiddenRegion }}</div>
                </div>

                <qr-code [value]="qrCodeValue" [size]="200"></qr-code>
            </div>
        </div>
    </div>
</div>
